html {
  background-color: #fcfafa;
}
p {
  color: black;
  font-size: 33px;
  font-family: Brush Script MT;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #f00a0a;
  padding: 0 5px 5px 5px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}